<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tracker v2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.tracker.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.tracker.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInputController</display-name>
    <servlet-name>UserInputController</servlet-name>
    <servlet-class>com.tracker.controller.UserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInputController</servlet-name>
    <url-pattern>/UserInputController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JourneyDetailsController</display-name>
    <servlet-name>JourneyDetailsController</servlet-name>
    <servlet-class>com.tracker.controller.JourneyDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JourneyDetailsController</servlet-name>
    <url-pattern>/JourneyDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStatisticsController</display-name>
    <servlet-name>DisplayStatisticsController</servlet-name>
    <servlet-class>com.tracker.controller.DisplayStatisticsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStatisticsController</servlet-name>
    <url-pattern>/DisplayStatisticsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayLocationController</display-name>
    <servlet-name>DisplayLocationController</servlet-name>
    <servlet-class>com.tracker.controller.DisplayLocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayLocationController</servlet-name>
    <url-pattern>/DisplayLocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.tracker.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.tracker.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecordController</display-name>
    <servlet-name>DeleteRecordController</servlet-name>
    <servlet-class>com.tracker.controller.DeleteRecordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecordController</servlet-name>
    <url-pattern>/DeleteRecordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInputEditController</display-name>
    <servlet-name>UserInputEditController</servlet-name>
    <servlet-class>com.tracker.controller.UserInputEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInputEditController</servlet-name>
    <url-pattern>/UserInputEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInputUpdateController</display-name>
    <servlet-name>UserInputUpdateController</servlet-name>
    <servlet-class>com.tracker.controller.UserInputUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInputUpdateController</servlet-name>
    <url-pattern>/UserInputUpdateController</url-pattern>
  </servlet-mapping>
</web-app>